@charset "UTF-8";

header{
    height: 80px;
    width: 900px;
    background-color: bisque;

}

.section1{
    height: 500px;
    width: 280px;
    background-color: indianred;
}

.section2{
    height: 500px;
    width: 620px;
    background-color: darksalmon;
    position:relative;
    bottom:500px;
    left:280px;
}

footer{
    height: 60px;
    width: 900px;
    background-color: black;
    color:white;
    position:relative;
    bottom: 500px;

}